01_HMIWinFormsClient_158/ProviderCustomerExchangeLib/Service References/DSRouterService/DSRouterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DSRouterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDSRouter_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DSRouterService" />
      <xsd:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfDataServer_Lib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDSRouter_GetDSValueAsByteBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSValueAsByteBuffer" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSValueAsByteBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSValueAsByteBufferResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSOscByIdInBD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSOscByIdInBD" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSOscByIdInBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSOscByIdInBDResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_SetReq2ArhivInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReq2ArhivInfo" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_RunCMDMOA_InputMessage">
    <wsdl:part name="parameters" element="tns:RunCMDMOA" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_RunCMDMOA_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunCMDMOAResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_RunCMD_InputMessage">
    <wsdl:part name="parameters" element="tns:RunCMD" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_RunCMD_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunCMDResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSConfigFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSConfigFile" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSConfigFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSConfigFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSINFO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSINFO" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSINFO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSINFOResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSourceGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSourceGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSourceName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceName" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSourceName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetECUGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetECUGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetECUGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetECUGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetECUName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetECUName" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetECUName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetECUNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSrcEcuRTUGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSrcEcuRTUGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSrcEcuRTUGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSrcEcuRTUGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_IsRTUEnable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRTUEnable" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_IsRTUEnable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRTUEnableResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUDescription" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetGroupGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetGroupGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_IsGroupEnable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGroupEnable" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_IsGroupEnable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGroupEnableResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUGroupName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUGroupName" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUGroupName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUGroupNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSubGroupGUIDsInGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubGroupGUIDsInGroup" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetSubGroupGUIDsInGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubGroupGUIDsInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRtuGroupTagGUIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRtuGroupTagGUIDs" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRtuGroupTagGUIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRtuGroupTagGUIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUTagName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUTagName" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetRTUTagName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUTagNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetTagsValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsValue" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetTagsValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetTagsValuesUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsValuesUpdated" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetTagsValuesUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsValuesUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_SubscribeRTUTags_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeRTUTags" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_UnscribeRTUTags_InputMessage">
    <wsdl:part name="parameters" element="tns:UnscribeRTUTags" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSLastErrorsGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSLastErrorsGUID" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSLastErrorsGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSLastErrorsGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSLastErrorGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSLastErrorGUID" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSLastErrorGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSLastErrorGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSErrorTextByErrorGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDSErrorTextByErrorGUID" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_GetDSErrorTextByErrorGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDSErrorTextByErrorGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_AcknowledgementOfErrors_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgementOfErrors" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_RegisterForErrorEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForErrorEvent" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_NewErrorEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewErrorEvent" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_Pong_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Pong" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_NotifyChangedTags_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyChangedTags" />
  </wsdl:message>
  <wsdl:message name="IDSRouter_NotifyCMDExecuted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyCMDExecuted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDSRouter">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSValueAsByteBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSValueAsByteBuffer" message="tns:IDSRouter_GetDSValueAsByteBuffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSValueAsByteBufferResponse" message="tns:IDSRouter_GetDSValueAsByteBuffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSOscByIdInBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSOscByIdInBD" message="tns:IDSRouter_GetDSOscByIdInBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSOscByIdInBDResponse" message="tns:IDSRouter_GetDSOscByIdInBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetReq2ArhivInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/SetReq2ArhivInfo" message="tns:IDSRouter_SetReq2ArhivInfo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RunCMDMOA">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/RunCMDMOA" message="tns:IDSRouter_RunCMDMOA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/RunCMDMOAResponse" message="tns:IDSRouter_RunCMDMOA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RunCMD">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/RunCMD" message="tns:IDSRouter_RunCMD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/RunCMDResponse" message="tns:IDSRouter_RunCMD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSConfigFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSConfigFile" message="tns:IDSRouter_GetDSConfigFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSConfigFileResponse" message="tns:IDSRouter_GetDSConfigFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSGUIDs" message="tns:IDSRouter_GetDSGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSGUIDsResponse" message="tns:IDSRouter_GetDSGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSINFO">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSINFO" message="tns:IDSRouter_GetDSINFO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSINFOResponse" message="tns:IDSRouter_GetDSINFO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSourceGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetSourceGUIDs" message="tns:IDSRouter_GetSourceGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetSourceGUIDsResponse" message="tns:IDSRouter_GetSourceGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSourceName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetSourceName" message="tns:IDSRouter_GetSourceName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetSourceNameResponse" message="tns:IDSRouter_GetSourceName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetECUGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetECUGUIDs" message="tns:IDSRouter_GetECUGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetECUGUIDsResponse" message="tns:IDSRouter_GetECUGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetECUName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetECUName" message="tns:IDSRouter_GetECUName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetECUNameResponse" message="tns:IDSRouter_GetECUName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSrcEcuRTUGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetSrcEcuRTUGUIDs" message="tns:IDSRouter_GetSrcEcuRTUGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetSrcEcuRTUGUIDsResponse" message="tns:IDSRouter_GetSrcEcuRTUGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRTUGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetRTUGUIDs" message="tns:IDSRouter_GetRTUGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetRTUGUIDsResponse" message="tns:IDSRouter_GetRTUGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsRTUEnable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/IsRTUEnable" message="tns:IDSRouter_IsRTUEnable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/IsRTUEnableResponse" message="tns:IDSRouter_IsRTUEnable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRTUDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetRTUDescription" message="tns:IDSRouter_GetRTUDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetRTUDescriptionResponse" message="tns:IDSRouter_GetRTUDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetGroupGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetGroupGUIDs" message="tns:IDSRouter_GetGroupGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetGroupGUIDsResponse" message="tns:IDSRouter_GetGroupGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsGroupEnable">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/IsGroupEnable" message="tns:IDSRouter_IsGroupEnable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/IsGroupEnableResponse" message="tns:IDSRouter_IsGroupEnable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRTUGroupName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetRTUGroupName" message="tns:IDSRouter_GetRTUGroupName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetRTUGroupNameResponse" message="tns:IDSRouter_GetRTUGroupName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSubGroupGUIDsInGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetSubGroupGUIDsInGroup" message="tns:IDSRouter_GetSubGroupGUIDsInGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetSubGroupGUIDsInGroupResponse" message="tns:IDSRouter_GetSubGroupGUIDsInGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRtuGroupTagGUIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetRtuGroupTagGUIDs" message="tns:IDSRouter_GetRtuGroupTagGUIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetRtuGroupTagGUIDsResponse" message="tns:IDSRouter_GetRtuGroupTagGUIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRTUTagName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetRTUTagName" message="tns:IDSRouter_GetRTUTagName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetRTUTagNameResponse" message="tns:IDSRouter_GetRTUTagName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTagsValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetTagsValue" message="tns:IDSRouter_GetTagsValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetTagsValueResponse" message="tns:IDSRouter_GetTagsValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTagsValuesUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetTagsValuesUpdated" message="tns:IDSRouter_GetTagsValuesUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetTagsValuesUpdatedResponse" message="tns:IDSRouter_GetTagsValuesUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SubscribeRTUTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/SubscribeRTUTags" message="tns:IDSRouter_SubscribeRTUTags_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnscribeRTUTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/UnscribeRTUTags" message="tns:IDSRouter_UnscribeRTUTags_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSLastErrorsGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSLastErrorsGUID" message="tns:IDSRouter_GetDSLastErrorsGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSLastErrorsGUIDResponse" message="tns:IDSRouter_GetDSLastErrorsGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSLastErrorGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSLastErrorGUID" message="tns:IDSRouter_GetDSLastErrorGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSLastErrorGUIDResponse" message="tns:IDSRouter_GetDSLastErrorGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDSErrorTextByErrorGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/GetDSErrorTextByErrorGUID" message="tns:IDSRouter_GetDSErrorTextByErrorGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/GetDSErrorTextByErrorGUIDResponse" message="tns:IDSRouter_GetDSErrorTextByErrorGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcknowledgementOfErrors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/AcknowledgementOfErrors" message="tns:IDSRouter_AcknowledgementOfErrors_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterForErrorEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/RegisterForErrorEvent" message="tns:IDSRouter_RegisterForErrorEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDSRouter/Ping" message="tns:IDSRouter_Ping_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NewErrorEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/NewErrorEvent" message="tns:IDSRouter_NewErrorEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Pong">
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/Pong" message="tns:IDSRouter_Pong_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyChangedTags">
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/NotifyChangedTags" message="tns:IDSRouter_NotifyChangedTags_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyCMDExecuted">
      <wsdl:output wsaw:Action="http://tempuri.org/IDSRouter/NotifyCMDExecuted" message="tns:IDSRouter_NotifyCMDExecuted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDSRouter" type="tns:IDSRouter">
    <wsp:PolicyReference URI="#NetTcpBinding_IDSRouter_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDSValueAsByteBuffer">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSValueAsByteBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSOscByIdInBD">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSOscByIdInBD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReq2ArhivInfo">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/SetReq2ArhivInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RunCMDMOA">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/RunCMDMOA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunCMD">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/RunCMD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSConfigFile">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSConfigFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSINFO">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSINFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourceGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetSourceGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourceName">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetSourceName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECUGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetECUGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECUName">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetECUName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSrcEcuRTUGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetSrcEcuRTUGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRTUGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetRTUGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRTUEnable">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/IsRTUEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRTUDescription">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetRTUDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetGroupGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsGroupEnable">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/IsGroupEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRTUGroupName">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetRTUGroupName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubGroupGUIDsInGroup">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetSubGroupGUIDsInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRtuGroupTagGUIDs">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetRtuGroupTagGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRTUTagName">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetRTUTagName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsValue">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetTagsValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsValuesUpdated">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetTagsValuesUpdated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeRTUTags">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/SubscribeRTUTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnscribeRTUTags">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/UnscribeRTUTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetDSLastErrorsGUID">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSLastErrorsGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSLastErrorGUID">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSLastErrorGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDSErrorTextByErrorGUID">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/GetDSErrorTextByErrorGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgementOfErrors">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/AcknowledgementOfErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterForErrorEvent">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/RegisterForErrorEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NewErrorEvent">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/NewErrorEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pong">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/Pong" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyChangedTags">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/NotifyChangedTags" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyCMDExecuted">
      <soap12:operation soapAction="http://tempuri.org/IDSRouter/NotifyCMDExecuted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSRouterService">
    <wsdl:port name="NetTcpBinding_IDSRouter" binding="tns:NetTcpBinding_IDSRouter">
      <soap12:address location="net.tcp://localhost:3332/DSRouter.DSRouterService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:3332/DSRouter.DSRouterService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>