01_HMIWinFormsClient_158/ProviderCustomerExchangeLib/Service References/DSRouterService/DSRouterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSRouterService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSRouterService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DSTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="VarQuality" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="VarValueAsObject" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSTagValue" nillable="true" type="tns:DSTagValue" />
</xs:schema>