01_HMIWinFormsClient_158/ProviderCustomerExchangeLib/Service References/DSRouterService/DSRouterService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3333/DSRouterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfDataServer_Lib" />
  <xs:element name="GetDSValueAsByteBuffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="arr" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSValueAsByteBufferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSValueAsByteBufferResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSOscByIdInBD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="arr" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSOscByIdInBDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSOscByIdInBDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReq2ArhivInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="arr" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCMDMOA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="pq" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCMDMOAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunCMDMOAResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsdevTagGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pq" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunCMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSConfigFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSConfigFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetDSConfigFileResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSGUIDs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSINFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSINFOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSINFOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="SrcGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECUGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="SrcGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECUGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetECUGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECUName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="SrcGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="EcuGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECUNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetECUNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcEcuRTUGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="SrcGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="EcuGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcEcuRTUGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSrcEcuRTUGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRTUGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRTUEnable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRTUEnableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRTUEnableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRTUDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroupEnable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="GroupGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroupEnableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGroupEnableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="GroupGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRTUGroupNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubGroupGUIDsInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="GroupGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubGroupGUIDsInGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubGroupGUIDsInGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRtuGroupTagGUIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="GroupGuid" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRtuGroupTagGUIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRtuGroupTagGUIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUTagName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="RtuGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="GroupGuid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="TagGUID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUTagNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRTUTagNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="request" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagsValueResult" nillable="true" type="q3:ArrayOfKeyValueOfstringDSTagValuedPx40uxt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsValuesUpdated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsValuesUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagsValuesUpdatedResult" nillable="true" type="q4:ArrayOfKeyValueOfstringDSTagValuedPx40uxt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeRTUTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="request" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnscribeRTUTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="request" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSLastErrorsGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSLastErrorsGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfDataServer_Lib" minOccurs="0" name="GetDSLastErrorsGUIDResult" nillable="true" type="q7:LstError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSLastErrorGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSLastErrorGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSLastErrorGUIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSErrorTextByErrorGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="errorGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSErrorTextByErrorGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDSErrorTextByErrorGUIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcknowledgementOfErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSGuid" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForErrorEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewErrorEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeDataTimeEvent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyChangedTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstChangedTags" nillable="true" type="q8:ArrayOfKeyValueOfstringDSTagValuedPx40uxt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCMDExecuted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmdarray" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>