01_HMIWinFormsClient_158/MessagePanel/Service References/MessagePanelService/NetworkLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetworkLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetworkLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WpfConnSQL.CellDatas" />
  <xs:complexType name="AsyncGeneralRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WpfConnSQL.CellDatas" minOccurs="0" name="Tela" nillable="true" type="q1:ArrayOfTableEventLogAlarm" />
      <xs:element minOccurs="0" name="TypeCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsyncGeneralRequest" nillable="true" type="tns:AsyncGeneralRequest" />
</xs:schema>